// Variable overrides
// --- Sidebar Color Overrides ---

$sidebar-bg: #ffffff;

$sidebar-nav-link-active-bg: #E30613;

$sidebar-nav-link-active-color: #ffffff;
$sidebar-nav-link-active-icon-color: #ffffff;


$sidebar-nav-link-hover-bg: #fff5f5;

$sidebar-nav-link-hover-color: #E30613;
$sidebar-nav-link-hover-icon-color: #E30613;

$sidebar-nav-link-color: #444444;
$sidebar-nav-link-icon-color: #444444;